<% @enquiries.each do |enquiry| %>
  <p>Name: <strong><%= enquiry.name %></strong></p>
  <p><%= enquiry.email %></p>
  <p><%= enquiry.phone %></p>
  <p><%= enquiry.room %></p>
  <p><%= enquiry.message %></p><br>
<% end %>
