<!DOCTYPE html>
<html>
  <head>
    <title>Overlook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to 'Contact', contact_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'Rooms', rooms_path %>
  <%= link_to 'Home', root_path %>

    <%= notice %>
    <%= yield %>
  </body>
</html>
